* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.nav-logo {
  width: 100%;
  height: auto;
}

.nav-logo-container {
  width: 12%;
  height: auto;
}

.modal-logo {
  width: 100%;
  height: auto;
}

.modal-logo-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: auto;
}

@media(max-width: 798px) {
  .nav-logo-container {
    width: 30%;
    height: auto;
  }  
}